In [3]:
import pandas as pd
import numpy as np

In [10]:
t1 = pd.DataFrame(np.arange(12).reshape(3, 4), index=list("abc"), columns=list("WXYZ"))
t1

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [16]:
d1 = {"name":["xaioming", "xaiohong"], "age":[20, 32], "tel":[10085, 10086]}
t1 = pd.DataFrame(d1)
t1

       name  age    tel
0  xaioming   20  10085
1  xaiohong   32  10086

In [20]:
d2 = [{"name":"xaioming", "age":20, "tel":10085}, {"name":"xiaohong", "age":24, "tel":10086}]
t2 = pd.DataFrame(d2)
t2

   age      name    tel
0   20  xaioming  10085
1   24  xiaohong  10086

In [21]:
t2.index

RangeIndex(start=0, stop=2, step=1)

In [23]:
t2.columns

Index(['age', 'name', 'tel'], dtype='object')

In [24]:
t2.values

array([[20, 'xaioming', 10085],
       [24, 'xiaohong', 10086]], dtype=object)

In [25]:
t2.shape

(2, 3)

In [26]:
t2.dtypes

age      int64
name    object
tel      int64
dtype: object

In [27]:
# 数据的维度
t2.ndim

2

In [28]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
age     2 non-null int64
name    2 non-null object
tel     2 non-null int64
dtypes: int64(2), object(1)
memory usage: 128.0+ bytes

In [30]:
t2.describe()

             age           tel
count   2.000000      2.000000
mean   22.000000  10085.500000
std     2.828427      0.707107
min    20.000000  10085.000000
25%    21.000000  10085.250000
50%    22.000000  10085.500000
75%    23.000000  10085.750000
max    24.000000  10086.000000

In [32]:
t3 = pd.DataFrame(np.arange(12).reshape(3, 4), index=list("abc"), columns=list("WXYZ"))
t3

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [35]:
t3.loc["a", "Z"]

3

In [37]:
t3.loc[:, "Y"]

a     2
b     6
c    10
Name: Y, dtype: int32

In [39]:
t3.iloc[1]

W    4
X    5
Y    6
Z    7
Name: b, dtype: int32

In [40]:
# 判断数据是否为NaN
pd.isnull(t3)

       W      X      Y      Z
a  False  False  False  False
b  False  False  False  False
c  False  False  False  False

In [41]:
pd.notnull(t3)

      W     X     Y     Z
a  True  True  True  True
b  True  True  True  True
c  True  True  True  True

In [43]:
# 只根据W列判断是否要某一行
t3[pd.notnull(t3["W"])]

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [44]:
# 删除行存在nan的行
t3.dropna(axis=0)

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [45]:
t3.dropna(axis=0, how="all")

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [46]:
t3.dropna(axis=0, how="any")

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [47]:
# inplace表示在处理完毕之后是否替换当前数组
t3.dropna(axis=0, how="any", inplace=True)

In [48]:
# 填充数据，将nan填充为1
t2.fillna(1)

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [ ]:
t2.fillna(t2.mean())