In [1]:
# 数据合并join，把行索引相同的数据合并到一起
import pandas as pd
import numpy as np

In [3]:
df1 = pd.DataFrame(np.ones((2, 4)), index=list("AB"), columns=list("abcd"))
df1

     a    b    c    d
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0

In [5]:
df2 = pd.DataFrame(np.ones((3, 3)), index=list("ABC"), columns=list("xyz"))
df2

     x    y    z
A  1.0  1.0  1.0
B  1.0  1.0  1.0
C  1.0  1.0  1.0

In [6]:
df1.join(df2)

     a    b    c    d    x    y    z
A  1.0  1.0  1.0  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0  1.0  1.0  1.0

In [7]:
df2.join(df1)

     x    y    z    a    b    c    d
A  1.0  1.0  1.0  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  NaN  NaN  NaN  NaN

In [20]:
# merge操作，默认合并并集，对列查询
# 和数据库查询类似
df3 = pd.DataFrame(np.arange(9).reshape((3, 3)), columns=list("fax"))
df1.loc["A", "a"] = 100
df1

       a    b    c    d
A  100.0  1.0  1.0  1.0
B    1.0  1.0  1.0  1.0

In [21]:
# 在a列上合并，默认inner模式
df1.merge(df3, on="a")

     a    b    c    d  f  x
0  1.0  1.0  1.0  1.0  0  2

In [22]:
df1.merge(df3, on="a", how="inner")

     a    b    c    d  f  x
0  1.0  1.0  1.0  1.0  0  2

In [23]:
df1.merge(df3, on="a", how="outer")

       a    b    c    d    f    x
0  100.0  1.0  1.0  1.0  NaN  NaN
1    1.0  1.0  1.0  1.0  0.0  2.0
2    4.0  NaN  NaN  NaN  3.0  5.0
3    7.0  NaN  NaN  NaN  6.0  8.0

In [24]:
df1.merge(df3, on="a", how="right")

     a    b    c    d  f  x
0  1.0  1.0  1.0  1.0  0  2
1  4.0  NaN  NaN  NaN  3  5
2  7.0  NaN  NaN  NaN  6  8

In [25]:
df1.merge(df3, on="a", how="left")

       a    b    c    d    f    x
0  100.0  1.0  1.0  1.0  NaN  NaN
1    1.0  1.0  1.0  1.0  0.0  2.0

In [30]:
# 分组操作，可以进行遍历，进行聚合操作
df1_group = list(df1.groupby(by="a"))
df1

       a    b    c    d
A  100.0  1.0  1.0  1.0
B    1.0  1.0  1.0  1.0

In [31]:
df1_group

[(1.0,      a    b    c    d
  B  1.0  1.0  1.0  1.0), (100.0,        a    b    c    d
  A  100.0  1.0  1.0  1.0)]

In [34]:
# 聚合操作
df1_group["b"].count()

TypeError: list indices must be integers or slices, not str

In [ ]:
grouped = df1["brand"].groupby(by=[df1["Country"], df1["name"]]).count()

In [35]:
# 进行分组操作返回Series，再加一层[]，下面三种是一样的
grouped1 = df1[["brand"]].groupby(by=[df1["Country"], df1["name"]]).count()
grouped2 = df1.groupby(by=[df1["Country"], df1["name"]])[["brand"]].count()
grouped3 = df1.groupby(by=[df1["Country"], df1["name"]]).count()[["brand"]]

KeyError: "None of [Index(['brand'], dtype='object')] are in the [columns]"

In [50]:
# 索引方法和属性
df1.index

       a    b    c    d
a  100.0  1.0  1.0  1.0
b    1.0  1.0  1.0  1.0

In [54]:
# 指定index
df1.index = ["a", "b"]
df1

       a    b    c    d
a  100.0  1.0  1.0  1.0
b    1.0  1.0  1.0  1.0

In [55]:
# reindex对数组取两行
df1.reindex(["a", "f"])

       a    b    c    d
a  100.0  1.0  1.0  1.0
f    NaN  NaN  NaN  NaN

In [57]:
# 指定某一列作为索引
df1.set_index("a", drop=False)

           a    b    c    d
a
100.0  100.0  1.0  1.0  1.0
1.0      1.0  1.0  1.0  1.0

In [58]:
df1.set_index("a", drop=False).index.unique()

Float64Index([100.0, 1.0], dtype='float64', name='a')

In [61]:
# 复合索引
d1 = df1.set_index(["a", "b"], drop=False).index.unique()

In [62]:
# 交换索引级别
d1.swaplevel()

MultiIndex(levels=[[1.0], [1.0, 100.0]],
           codes=[[0, 0], [1, 0]],
           names=['b', 'a'])